* {
  box-sizing: border-box;
}
body {
  width: 900px;
  margin: auto;
}
nav {
  display: flex;
  align-items: center;
  padding-bottom: 50px;

}

#logo {
  justify-content: flex-end;
  margin-top: 70px;
  margin-bottom: 10px;
  align-content: center;
}

#name {
  margin-right: 340px;
  display: inline;
}
header {
  width: 960px;
  border-bottom: 9px solid silver;
}
h1 {
  font-size: 40px;
  font-family: 'Yellowtail', cursive;
  font-weight: bold;
  margin: 0;
}
h3 {
  margin: 0;
}
#logoimg {
  vertical-align: top;
}
#deli {
  display: inline-block;
}
#iconwithspace {
  margin-right: 7px;
}
h2 {
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 10px;
  margin-top: 40px;
}
#par {
  color: silver;
  margin-top: 10px;
}

#table {
  font-size: 20px;
  position: relative;
  margin-right: 200px;
}
#table2 {
  font-size: 20px;
  position: relative;
  justify-content: flex-end;
}
ul {
  list-style-type: none;
}
main {
  width: 960px;
  margin-bottom: 20px;
}
#gray {
  color: silver;
}
footer {
  justify-content: flex-end;
  color: gray;
  margin: 0 auto;
  width: 960px;
}
footer div {
  width: 960px;
}
.container {
  font-family: ;
  align-items: center;
  min-height: 305px;
  display: flex;
  justify-content: flex-start;
  background-image: url("/images/list-bg.png");
}
#foot {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#par2 {
  margin-left: 10px;
  font-size: x-large;
  margin-top: 0px;
}
h4 {
  font-size: larger;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 0px;
}
button {
  padding: 10px 20px 10px 20px;
  background-color: #af621a;
  color: white;
  font-size: 15px;
  float: right;
  position: relative;
  bottom: 95px;
}

#logo2 {
  position: relative;
  top: -25px;
  margin: 0 auto;
  display: block;
}
#copyright {
  text-align: center;
  color: gray;
}
#line {
  border: 5px solid silver;
  margin-top: 40px;
}
footer #footerline {
  width: 960px;
  margin-top: 100px;
  opacity: 0.25;
}
#copy {
  margin-top: 0;
}
#copy2 {
  margin-bottom: 0;
}
