* {
  box-sizing: border-box;
}
body{
  width: 900px;
  margin: auto;
}
nav{
  display: flex;
  /* margin-left: 320px; */
 }

#logo{
  justify-content: flex-end; */
  margin-top: 100px;
  margin-bottom: 10px;
}

#name{
  float: left;
  margin-right: 340px;
  display: inline;
  
}
header{
  width: 960px;
  border-bottom: 9px solid silver;
}
h1{
  /* display: inline; */
  font-size: 40px;
  font-family: 'Yellowtail', cursive;
  font-weight: bold;
  margin: 0;
}
h3{
  margin: 0;
}
#logoimg{
  vertical-align: top;
}
#deli{
  display: inline-block;
}
#iconwithspace{
  margin-right: 7px;
}
h2{
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 40px;
}
#par{
color: silver;
margin-top: 10px;

}

#table{
  position: relative;
  top: -300px;

}
#table2{
  position: relative;
  top: -450px;
  margin-right: auto;
  float: right;
}
ul {
  list-style-type: none;
}
main{
  width: 960px;
  border-bottom: 9px solid silver;
  margin-bottom: 20px;
}
#gray{
  color: silver;
}
footer{
  /* margin-top: -80px;  */
  justify-content: flex-end;
  color: gray;
  margin: 0 auto;
  width: 960px;
  }
footer div{
  width: 960px;
}
.container{
  margin-bottom: -120px;
}
#foot{
  /* height: 100px; */
  /* float: right; */
  display: flex;
  justify-content: flex-end; 
  flex-wrap: wrap;

}
/* #par2{
flex-wrap: wrap;
} */
footer h4{
  margin-top: 20px;

}
button{
  padding: 1000px auto;
  background-color: #af621a;
  color: white;
  font-size: 10px;

}
#van{
 
  margin-right: 10px;
}
#logo2{
/* position: relative; */
margin: 0 auto;
 display: block;
}
#copyright{
  text-align: center;
  color: gray;
}
